* {
	margin: 0;
	padding: 0;
}

canvas {
	width: 70%;
	height: 50%;

	margin-top: 2%;
	margin-left: 7%;

	background-color: black;
}

#box {
	float: right;
	margin-right: 3%;
	/* width: 350px;
	height: 150px; */
}
#btn {
	float: right;
	margin-right: 2%;
	margin-top: 1%;
}
